@inherits LayoutComponentBase

<PageTitle>TinaRose</PageTitle>

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
        <div class="top-row px-4 auth">
            <div class="col-md-6">
                <img src="images/logo/TinaRose40.png" />
            </div>
            <div class="col-md-6 text-right">
                <!-- right block for auto -->
                <LoginDisplay />
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
