@page "/"

<PageTitle>Welcome</PageTitle>

<div class="welcome">

    <div class="row">
        <div class="col-md-4 order-md-1">
            <h2>Welcome to Tina Rose</h2>
            <div class="welcome-image"></div>
        </div>
        <div class="col-md-8 order-md-2">
            <p>Tina Rose is a local manufacturer of high-quality cosmetics. Our product line includes full-coverage foundations, liquid foundations, concealers, powders, creams, and whitening cream. All of our products are made with the finest ingredients and are designed to enhance your natural beauty.</p>
            <p>We are proud to market our products through a network of dedicated agents who provide personalized service and expert advice to help you choose the right colours and products for your skin type. Our agents are passionate about cosmetics and are committed to providing the highest level of customer service.</p>
            <p>At Tina Rose, we believe that beauty comes from within. Our cosmetics are designed to enhance your natural features and help you feel confident and beautiful. We are committed to providing the highest quality products and exceptional customer service to all of our clients.</p>
        </div>
    </div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3">
    <div class="col mb-4">
            <div class="card text-center h-100 align-items-stretch">
                <div class="card-body">
                    <h5 class="card-title">Products</h5>
                    <img src="images/products/full-coverage-foundation.jpg" alt="Products Image" class="img-fluid mb-3" width="200px" />
                    <p class="card-text">Visit our Products page to place an order for your favorite Tina Rose Cosmetics products.</p>
                    <NavLink class="btn btn-primary" href="products">Products</NavLink>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center h-100 align-items-stretch">
                <div class="card-body">
                    <h5 class="card-title">Agents</h5>
                    <img src="images/agents.png" alt="Agents Image" class="img-fluid mb-3" />
                    <p class="card-text">Visit our Agents page to learn more about becoming a Tina Rose Cosmetics agent or to find an agent near you.</p>
                    <NavLink class="btn btn-primary" href="agents">Agents</NavLink>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center h-100 align-items-stretch">
                <div class="card-body">
                    <h5 class="card-title">Contact Us</h5>
                    <img src="images/contact.png" alt="Contact Us Image" class="img-fluid mb-3" />
                    <p class="card-text">If you have any questions or comments, please don't hesitate to contact us.</p>
                    <NavLink class="btn btn-primary" href="contact">Contact Us</NavLink>
                </div>
            </div>
        </div>
    </div>


</div>
